/*
FONTS

Blockhead OT BlackFace
font-family: "blockhead-black-face", sans-serif;
font-weight: 400;
font-style: normal;
Blockhead OT DarkSide
font-family: "blockhead-dark-side", sans-serif;
font-weight: 400;
font-style: normal;
Blockhead OT Plain
font-family: "blockhead-plain", sans-serif;
font-weight: 400;
font-style: normal;
Blockhead OT Unplugged
font-family: "blockhead-unplugged", sans-serif;
font-weight: 400;
font-style: normal;


Brandon Grotesque Regular
font-family: "brandon-grotesque", sans-serif;
font-weight: 400;
font-style: normal;
Brandon Grotesque Regular Italic
font-family: "brandon-grotesque", sans-serif;
font-weight: 400;
font-style: italic;
Brandon Grotesque Bold
font-family: "brandon-grotesque", sans-serif;
font-weight: 700;
font-style: normal;
Brandon Grotesque Bold Italic
font-family: "brandon-grotesque", sans-serif;
font-weight: 700;
font-style: italic;


*/

/* Generel styling og fonts*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "brandon-grotesque", sans-serif;
  background-color: #f9f2e0;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "blockhead-dark-side", sans-serif;
  font-size: 8vw;
  text-align: center;
  color: #340606;
}
h2 {
  font-family: "blockhead-unplugged", sans-serif;
  font-size: 5vw;
}

h3 {
  font-family: "blockhead-dark-side", sans-serif;
  font-size: 4vw;
  text-align: center;
  color: #340606;
}

h4 {
  text-decoration: underline;
  text-decoration-skip: none;
  text-underline-position: under;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.4rem;
}

/* nav bar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #707070;
  padding: 0;
  height: 70px;
  width: auto;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  color: white;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Hamburger menu styling */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* logo style */
#fixed-logo {
  width: 98px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 1000;
  opacity: 1;
}

.utility-bar {
  background: #000;
  color: #72757a;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-size: 14px;
}



footer {
  background-color: #707070;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-icons img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background-color: rgba(184, 130, 60, 0.8);
    text-align: center;
    z-index: 1;
    padding: 0.5rem;
  }
  .nav-links a {
    text-decoration: none;
    color: white;

    font-size: 1.4rem;
  }

  .nav-links a:hover {
    color: #7fac55;
    transition: color 0.2s;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
}


